.act_background{
    background-color: #b5b8c1 !important;
}

.logo-g-analysis{
    height: 41.67px !important;
    width: 125px  !important;
}
.table-not-consumed{
    height: 500px;
    /* overflow-y: hidden; */
    overflow-y: auto;
}

.measurement-select{
    padding: .4375rem .75rem !important; 
    border: 0 !important;
    outline: 1px solid #c9ccd7 !important;
}

.tables-alert-width{
    height: 250px;
    overflow-y: auto;
}

/* Background Image */
.background-image{
    background: url(../../images/5653.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
    margin: 0px !important;
    padding: 0px !important;;
}

.heading-margin-top{
    margin-top: 28px
}
.energy_unit{
    /* margin-top: 21px; */
    margin-right: auto;
    display: inline;
}

.custom-btn{
    margin-top: 46px;
    border: 0px solid;
    padding: 8px;
}