.act_background{
    background-color: #b5b8c1 !important;
}

.logo-g-analysis{
    height: 41.67px !important;
    width: 125px  !important;
}
.table-not-consumed{
    height: 500px;
    /* overflow-y: hidden; */
    overflow-y: auto;
}

.measurement-select{
    padding: .4375rem .75rem !important; 
    border: 0 !important;
    outline: 1px solid #c9ccd7 !important;
}

.tables-alert-width{
    height: 250px;
    overflow-y: auto;
}

/* Background Image */
.background-image{
    background: url(../../images/5653.jpg) no-repeat center center fixed !important;
    background-size: cover !important;
    margin: 0px !important;
    padding: 0px !important;;
}

.heading-margin-top{
    margin-top: 28px
}
.energy_unit{
    /* margin-top: 21px; */
    margin-right: auto;
    display: inline;
}

.custom-btn{
    margin-top: 46px;
    border: 0px solid;
    padding: 8px;
}

.card-border{
    /* border: 1px solid black; */
}

.pagination_items{
    text-align: center;
    /* margin-left: 357px; */
    margin-left: 465px;
}
.pagination_html{
    margin-top: 8px;
}
.row_click{
    cursor: pointer;
}
.table-margin{
    margin-top : -25px;
}


.table-margin .table td{
    padding:  8px !important;
}
.table-margin .table th{
    padding:  13px 8px 13px 8px !important;
}

#measurement_search_record{
    padding: 20px 8px;
}

.row_click_table{
    background-color: #c5c8d2;
}

.margin-remove-table{
    margin: 0px;
}
.page-link{
    padding: 6px 9px !important;
}
.pagination_input_val{
    width : 69px;
}

.active_background{
    background: white !important;
    color: #2b2727 !important;
}
.select_pagination{
    width : 65px;
}
.pagination_items ul {
    font-size: 15px !important;
}

.dashboard_count_div .tiles-click,.dashboard_count_div .tile-click-table{
    cursor: pointer;
}

.measurement_count_hover_height{
    height: 520px !important;
}

.overflow-hide{
    overflow: hidden;
}
.save_table_height{
    height: 224px;
    /* overflow-y: scroll; */
}

.save_table_height table th{
    padding:  10px 6px 10px 6px !important;
}

.save_table_height table td{
    padding:  6px !important;
    font-size: small;
}


.pagination_save_table{
    margin-left: 150px;
}

.click-tile-height{
    height: 262px;
}

.preview_measurement_div #preview_measurement_table{
    margin-top: 32px;
}

.max-width-modal{
    max-width: 1145px !important;
}

.dashboard_modal_tile .actual_tile_height{
    height: 145px;
}

.dashboard_modal_tile .actual_tile_width{
    width: 285px;
}

.display-flex{
    display: flex;
}


#measurement_modal_table th{
    padding:  10px 6px 10px 6px !important;
}

#measurement_modal_table td{
    padding:  6px !important;
    font-size: small;
}

#energy_modal_table th{
    padding:  10px 6px 10px 6px !important;
}

#energy_modal_table td{
    padding:  6px !important;
    font-size: small;
}

.dashboard_tile_height{
    height: 145px;
}

.dashboard_tile_width{
    width: 285px;
}

.dashboard_count_div .stretch-card{
    padding-right: 15px;
    padding-left: 15px;
}

.dashboard_modal_tile .stretch-card{
    padding-right: 15px;
    padding-left: 15px;   
}

#measurement_modal_loader_div{
    text-align: center;
    position: absolute;
    bottom: 177px;
    left: 497px;
}

#measurement_modal_loader_image{
    height: 100px;
    width: 105px;
    position: relative;
}

#energy_modal_loader_div{
    text-align: center;
    position: absolute;
    bottom: 177px;
    left: 497px;
}

#energy_modal_loader_image{
    height: 100px;
    width: 105px;
    position: relative;
}

#save_btn_tile_div{
    margin-top: 30px;
}

#dashboard_count_div_tile .hide_table_main{
    /* height: auto !important; */
    height: 145px !important;
    width: 285px  !important;
}
#dashboard_count_div_tile .hide_table_main table{
   display: none;
}
.card-border{
    overflow: hidden;
}
#dashboard_count_div_tile .align-items-center{
    margin: -5px 568px 4px 3px;
}
#dashboard_count_div_tile .overflow-hide{
    /* margin: -105px 16px 21px 22px;  */
    padding: 0px 0px 0px 109px;
}
.hide_table_preview{
    height: 145px !important;
    width: 285px  !important;
}
.hide_table_preview table{
    display: none;
}
.gernerated_measurement_modal_tiles .action-modal-button-div , .gernerated_energy_modal_tiles .action-modal-button-div{
    display: none;
}

.action-modal-button-div{
    display: flex;
    float: right;
}
.measurement-icon{
    margin-top: -17px !important;
}
.display-none{
    display: none;
}

.dashboard_chart_tiles .stretch-card{
    padding-right: 15px;
    padding-left: 15px;   
}

.chart-width{
    width: 80%
}

.dashboard_chart_tiles .hide_table_preview{
    height: 145px !important;
    width: 285px  !important;
}

.dashboard_chart_tiles .hide_table_preview canvas{
   display: none !important;
}

#measurement_modal_loader_div_chart{
    text-align: center;
    position: absolute;
    bottom: 37%;
    left: 44%;
}

#measurement_modal_loader_image_chart{
    height: 100px;
    width: 105px;
    position: relative;
}

#dashboard_count_div_tile .hide_table_main canvas{
    display: none !important;
 }

 #dashboard_count_div_tile table{
    /* margin-left: -58px; */
    margin-left: -49px;
 }

 #chart_records_label{
     text-transform: capitalize;;
 }

 #chart_records{
    text-transform: capitalize;;
 }

 #dashboard_tile_modal_chart .modal-body .row .form-group{
    cursor: pointer !important;
 }
 
 #dashboard_tile_modal_chart .modal-body .row .dashboard_chart_tiles{
    cursor: pointer;   
 }

 .record-name-overall-count{
    margin-top: 0px;
    font-size: x-large;
    font-family: sans-serif
 }

 .hide_table_preview .text-overall-count,.hide_table_preview .record-name-overall-count{
    display: none;
}


.hide_table_main .save_table_div_show_table h4{
    /* display: none; */
}
#dashboard_count_div_tile .record-name-overall-count {
    margin: -3px 0px 5px -37px;
}

#dashboard_count_div_tile .text-overall-count {
    margin-left: -35px;
}
.count_result_tile{
    text-transform: capitalize;
}

#dashboard_count_div_tile .card-body,.gernerated_measurement_modal_tiles .card-body,.dashboard_chart_tiles .card-body{
    opacity: 0.8;
}

.gernerated_energy_modal_tiles .card-body,.dashboard_chart_tiles .card-body{
    opacity: 0.8;
}

#dashboard_count_div_tile .card-body:hover,.gernerated_measurement_modal_tiles .card-body:hover,.dashboard_chart_tiles .card-body:hover{
    opacity: 1;
}

.gernerated_energy_modal_tiles .card-body:hover,.dashboard_chart_tiles .card-body:hover{
    opacity: 1;
}


#measurement_tile_heading_modal{
    color: black !important;
}
.record-name-overall-count{
    color: black !important;
}

.text-overall-count{
    color: black !important;
    font-family: sans-serif
}

.tile-image-icon-table{
    height: 57px;
    width: 55px;
    margin: -16px 13px -9px 0px !important;
}

.tile-image-icon-count{
    height: 55px;
    /* width: 100px; */
    margin: -15px -1px -8px -6px !important;
}

.row.dashboard_count_div ,.dashboard_count_div .row{
    margin-right: 14px !important;
}

.menu_dashboard{
    font-size: 1.2em;
    padding: 10px;
}

.menu_dashboard_ul{
    /* margin-left: 20%; */
    margin-left: -3%;
}

.menu_dashboard_database{
    font-size: 1.08em;
}


.menu_dashboard_database  select{
    padding: 3px;
    font-family: sans-serif;
}
.menu_dashboard_database  select:hover{
    color: #4a4a4a;
}





/* <----Sub menu */

/* .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 16px;
    margin-top: -14px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: #4a4a4a;
} */
  
/* ---end-- */


/* <--new Su menu */

.dropdown {
    float: left;
    position: static;
    /* overflow: hidden; */
}
  
.dropdown .dropbtn {
    /* font-size: 16px;   */
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    /* font: inherit; */
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    /* background-color: red; */
}
  
.dropdown-content{
    display: none;
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
    /* width: 100%; */
    width: 50%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    right: 0;
    margin: auto;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 3px;
    /* background-color: white; */
    /* height: 250px; */
}

.column a {
    float: none;
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    /* background-color: #4a4a4a; */
    color: #4a4a4a;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.dropdown-content .column h3{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
    border-bottom: 1px solid rgba(203, 198, 198, 1);
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.dropdown-content .column {
    width: 31%;
    padding: 2%;
}

.dashboard_sub_menu_1{
    margin:-4px 0px 0px 20px;

}

.sub_menu_1_div{
    display: none;

}

.column .sub_menu_open:hover .sub_menu_1_div{
    display: block; 
    color: red;
}
  
.sub_menu_open span{
    color: black
}
 

.cursor_pointer{
    cursor: pointer;
}

.dashboard_chart_tiles .edit_btn_tile_chart{
    display: none;
}
 
.dashboard_chart_tiles .delete_btn_tile{
    display: none;
}
#dashboard_tile_modal_chart{
    overflow-y: auto;
}
  
.dashboard_chart_tiles .stretch-card .card .ml-3{
    width: 100%;
}

.dashboard_count_div .stretch-card .card .ml-3{
    width: 97%;
}

#dashboard_count_div_tile canvas{
    margin-top: 16px;
    /* width: 377px !important; */
}
.wish-table th {
    background: #c5c8d2;
    padding: 4px;
    font-size: 10px;
}
.wish-table {
    width: 100%;
    border: 1px solid #c9ccd7;
}
.wish-table td {
    padding: 4px;
    border-right: 1px solid #c9ccd7;
    border-bottom: 1px solid #c9ccd7;
    font-size: 10px;
}
.dashboard-btn{
    margin-left: 14px;
}
/*
.chart-width{
    margin-top: -145px !important;
}
.count_result_tile {
    max-width: 100px;
}*/
.dashboard_count_div .count_result_tile{
    margin-top: 19px !important;
    margin-bottom: 19px !important;
    max-width: 90px;
}
.dashboard_count_div .chart-width{
    margin-top: -128px !important;
}
.dashboard_count_div .overflow-hide{
    margin-top: -124px !important;
}
/*.dashboard_count_div .count_result_tile {*/
/*    max-width: 100px;*/
/*}*/

/* 21-10-2021 */
.dashboard_count_div .hide_table_main .small-table{
    display: block !important;
    /*margin-top: 31px;*/

}

.dashboard_count_div .movetile{
    /* position: relative; */
    padding-right: 15px;
    padding-left: 15px;
}

/* --end--> */

/* <---25-10-2021- */
.dashboard_count_div .overflow-margin-3{
    margin-top: -228px !important;
}
/* -end--> */

/* 26-10-2021 */
.dashboard_chart_tiles .small-table{
    max-width: 98%;
}

.dashboard_chart_tiles .wish-table th ,.dashboard_chart_tiles .wish-table td{
    font-size: 10px;
}

.dashboard_modal_tile .overflow-hide{
    width: 100%;
}

.dashboard_count_div .overall_value_tile  .action-modal-button-div{
    margin-bottom: 9px;
}

.dashboard_count_div .chart_tile.hide_table_main .overflow-hide{
    padding-left: 90px !important;
}

.dashboard_count_div .hide_table_main .chart_overflow_margin_2{
    margin-top: -157px !important;
}
.dashboard_count_div .hide_table_main .chart_overflow_margin_3{
    margin-top: -230px !important;
}
.dashboard_count_div .hide_table_main .chart_overflow_margin_4{
    margin-top: -304px !important;
}

#dashboard_loader_div{
    text-align: center;
    position: absolute;
    bottom: 37%;
    left: 38%;
}

#dashboard_loader_image{
    width: 30%;
}

.tile_border{
    /* border : 2px solid #adebad; */
    border-left: 4px solid #50fb50;
    border-right: 4px solid #50fb50;
}

#chart_outer_tile_div{
    margin-top: 15px;
    margin-right: 2%;
}

.gernerated_measurement_modal_tiles .small-table{
    max-width: 99%;
}

.gernerated_measurement_modal_tiles .hide_table_preview .tile_table_small_table{
    display: block !important;
}

.gernerated_energy_modal_tiles .small-table{
    max-width: 99%;
}

.gernerated_energy_modal_tiles .hide_table_preview .tile_table_small_table{
    display: block !important;
}

#dashboard_count_div_tile .overall_value_tile .small-table{
    display: none !important;
}


.dashboard_count_div .table_tile.hide_table_main .overflow-hide .small-table{ 
    margin-top: 6px;
    max-width: 99%;
}
.dashboard_count_div .table_tile.hide_table_main .overflow-hide{ 
    padding: 0px 0px 0px 62px !important;
}

.dashboard_count_div .count_result_custom_width{
    width: 17%;
}

/* 16-11-2021--- */
.dashboard_chart_tiles .small-table {
    height: 85%;
}

.dashboard_chart_tiles .small-table  table{
    height: 85%;
}

.dashboard_count_div .small-table {
    height: 85%;
}

.dashboard_count_div .small-table  table{
    height: 85%;
}

/* --end--- */


/* <----18-9-2021-- */
.pagination_input_val_energy{
    width: 69px;
}

.pagination_html_energy{
    margin-top : 8px
}
/* --end-- */