.controlDivProductionn {
  width: 99% !important;
  margin-bottom: 5px;
  border: 1px solid #706161;
}
.controlDivProductionn label {
  width: 3cm;
  height: 0.1cm;
  font-size: 12px;
}
.controlDivProductionn input{
  width: 2.9cm;
  float: right;
}

/* .controlDivProductionn select{
height: 30px;
color: black;
padding: 5px;
} */

.controlDivProduction {
  width: 136px;
  margin-bottom: 10px;
}
.controlDivProduction label {
  width: 3cm;
  height: 0.1cm;
  font-size: 15px;
}
.controlDivProduction input{
  /* width: 2.9cm; */
  height: 30px;
}

.controlDivProduction select{
  color: black;
  padding: 0px;

}
.controlDivProductionn select {
  width: 50%;
  margin-left: 0px !important;
  margin-top: 0px !important;
}
.w-90{
width:90%;
}
.btn-info
{
color:white;
}
.w-18{
width:18%;
}
.m-top{
margin-top: 10px;
}
.m-left{
margin-left: 5px;
}
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
transform: translateX(-50%);
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}
.bg:checked + .slider {
background-color: #3f6791;
}

/* input:focus + .slider {
box-shadow: 0 0 1px #3f6791;
} */

.bg:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
} 
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}
.j-c{
justify-content: space-between;
}
.hght{
height: 62px;
}
.b-clr{
background-color:#A1A7AD;
}
.clr{
color:#CED6DE;
}
.btn-clr{
background-color:#000;
}
.btn-info:hover{
background-color: #000;
color:white;
}
.m-h{
color: white;
font-weight: 600;
}
.card-b-clr{
background-color:#B9C0C7
}
.headerclr {
background-color: #A1A7AD !important;
}
.border-bottom{
border-bottom: 0px !important;
}
.m-topp{
margin-top: 15px;
}

.accordion-header {
background-color: #6B6F73;
}

.clr-white {
color:white;
}

#chartdiv {
width: 100%;
height: 300px;
max-width: 100%;
}
#other_graph_div {
width: 100%;
height: 300px;
max-width: 100%;
}
.am_graph_div {
width: 100%;
height: 300px;
max-width: 100%;
}

.card-body-production {
background-color: #bac0c8;
}
.p-20{
padding:20px;
}
.p-0{
padding:0px !important;
}
.p-l{
padding-left:3px;
position: absolute;
  top: 10px;
}
.h-w{
height: 26px;
width: 100px;
}
.wdth{
width: 14rem;
}
.w-h{
/* width: 0px !important;  */
height: 30px;
}


/* Production Page Styles */

.production_mode_switch {
  font-size: 18px; 
  width: 135px; 
  color: #fff; 
  margin-bottom: 7px;
}

.production_mode_switch label {
  right: inherit;
  padding-top: 10px;
}

.production_mode_switch label.toggle-off {
  left: 56%;
}

.production-edit-mode {
    background-color: #B9C0C7;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;
    clear: both;
    padding: 2px;
}

#modal-machine-configuration .btn.moveall.btn-default, 
#modal-machine-configuration .btn.removeall.btn-default {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 3px 3px 6px;
  border-radius: 3px 3px 0 0;
}

#modal-machine-configuration .btn.moveall.btn-default:hover,
#modal-machine-configuration .btn.removeall.btn-default:hover {
  background-color: #f2f2f2;
}

#modal-machine-configuration .btn.moveall.btn-default:after {
  color: #333;
  content: ' \00BB';
  font-size: 30px;
}

#modal-machine-configuration .btn.removeall.btn-default:after {
  color: #333;
  content: ' \00AB';
  font-size: 30px;
}

#modal-machine-configuration select.form-control {
  width: calc(100% - 2px);
  margin-left: 1px;
  color: black;
}

#modal-addGroupOptions .form-group {
  margin: 0;
}

#modal-addGroupOptions .form-group label {
  margin: 0;
  padding: 8px 0 0 0;
}

#modal-addGroupOptions .card-title {
  color: #212529;
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}

/* Production Page Styles */

.loader {
  margin: 100px auto;
  width: 120px;
  height: 120px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #bebebe;
  border-radius: 50%;
  animation: spin 2s linear infinite, heart-beat 2s linear infinite;
  background-color: #fff;
  text-align: center;
  line-height: 120px;
  position: fixed;
    left: 45%;
    top: 35%;
    z-index: 99999999
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes heart-beat {
    55% { background-color: #fff; }
    60% { background-color: #6b6f73; }
    65% { background-color: #fff; }
    70% { background-color: #6b6f73; }
    100% { background-color: #fff; }
}

.hide-loader {
  display:none;
}

.dynamic-production-div {
  width:100%;
}

.dynamic-production-div label {
  width:50%;
}

.dynamic-production-div input {
  width:47%;
}
.width-66{
  width:66%;
  height: 35px;
}

.black{
  color: #000 !important;
}
/* 
.dynamic-col{
  margin-bottom: 9px !important;
  height: 28px !important;
  width: 128px;
}
.m-top{
  margin-top: 11px !important;
}
.controlDiv label:hover {
  color: #000 !important;
}
.fnt{
font-size: 15px;
}
.dis-in{
display: inline-block;
}
.dynamic-coll{
  height: 28px !important;
  width: 128px;
}
.bg{
background-color: #A1A7AD;
}
.mg{
margin-top: 8px;
margin-bottom: 9px;
margin-right: 7px;
}
.margin{
margin-top: 8px;
margin-left: 34px;
}
m-left{
margin-left: 10px;
} */

.scroll-black ::-webkit-scrollbar {
  width: 12px;           
}
.scroll-black ::-webkit-scrollbar-track {
  background: orange;     
}
.scroll-black ::-webkit-scrollbar-thumb {
  background-color: blue;   
  border-radius: 20px;       
  border: 3px solid orange;
}
/*css*/
.fnt {
  display: inline-block;
  width: 3.4cm;
  background-color: #A1A7AD;
  font-size: 12px;
  padding-left: 0.1cm;
  border: none;
}

.dynamicoldiv {
  display: inline-block;
  background-color: #A1A7AD;
  margin-bottom: 0.1cm;
  width: 7.2cm;
  border: 1px solid #706161;
}

.dynamic-coll {
  margin-left: 0.1cm;
  margin-top: 0.1cm;
  display: inline;
  font-size: 11px;
  height: 0.4cm;
  left: 100px;
  clear: both;
  width: 3.3cm;
  padding: 0px;
  vertical-align: central;
}

.productioncol{
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #e3e3e3;
  padding-left: 3px;
}

.toggle.btn {
min-height: -1.85rem !important;
}

.toggle-on{
   padding-top: 10px;
}

/* .toggle-group label{

} */

.custom-padding {
  padding: 0px !important;
}

.left_section{
  padding: 0px !important;
}
.right_section{
padding: 0px;
padding-left: 8px;
}

.table th, .table td {
  padding: 5px;
}

.bgclrnone label{
  background-color: none!important;
}

#save_graph_field{
  display: block;
  width: 75%;
  padding: 0px;
  height: 28px;
}

.modelstyle{
  width: 60%;
  height: 10%;
  margin-left: 22%;
}
#save_table_configuration_button{
  font-size: 12px;
  height: 30px;
  padding: 8px;
}
.error_message h3{
    font-size: 14px;
    padding-top: 3px;
    display: flex;
    padding-left: 12px;
}
.common-msg h3{
  font-size: 14px;
  padding-top: 3px;
  display: flex;
  padding-left: 12px;
}
#create_graph {
  display: block;
  width: 75%;
  padding: 0px;
  height: 28px;
}
#create_graph_window {
  display: block;
  width: 75%;
  padding: 0px;
  height: 28px;
}
#save_field{
  display: block;
  width: 75%;
  padding: 0px;
  height: 28px;
}
#save_configuration_button{
display: block;
width: 75%;
padding: 0px;
height: 28px;
}