#diagSpeichern, #btnNoteAbbr, #btnNoteOk,
#btnSaveAbbr, #btnSaveOk{
    border: 0px solid black;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    margin: 3px;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid
}
#diagSpeichern:hover, #btnNoteAbbr:hover, #btnNoteOk:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}
html{
    width: 100%;
    padding: 10px;
}
label{
    margin-bottom : -25px !important ;
    text-align :center !important;
}
.tooltipDivcontainer {
    background-color:#E94649;
    color: white;
    width:130px;
}
.content-container-fluid {
    width: 98%;
}
#table-chart-data-container_1,
#table-chart-data-container_2,
#table-chart-data-container_3 {
    width: 98%;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}
#Tooltip >div:first-child {
    float: left;
}
#Tooltip #value {
    float: right;
    height: 50px;
    width: 68px;
}
#Tooltip #value >div {
    margin: 5px 5px 5px 5px;
}
#Tooltip #efpercentage {
    font-size: 20px;
    font-family: segoe ui;
    padding-left: 2px;
}
#Tooltip #ef {
    font-size: 12px;
    font-family: segoe ui;
}
#eficon {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    padding: .5em 1em;
    background: #B9C0C7;
}
.ui-dialog .ui-dialog-titlebar {
    background: #6B6F73;
}
.ui-dialog-titlebar{
    width: 92%;
}
.ui-widget-content {
    border: 3px solid black;
    background: #B9C0C7;
}
.custom {
    font-size: 10px;
}
th {
    text-align: left;
    background: transparent;
}
.bem{
    color: black;
}
.bem:hover{
    color: gray;
}
#bemerkungNote, #bemerkungSave{
    width: 367px;
}
